@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields
@model OneWeb.Feature.Login.Models.UserLoginModel


<div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "ow-user-login", Model.Attributes)>
    <div class="component-content">
        @if (Model.DataSourceItem == null)
        {
            @Model.MessageIsEmpty
        }
        else
        {
            if (!Model.ShowInPopup)
            {
                <a class="@Model.Link.Class btn btn-primary promo" href=@Model.Link.Url target="@Model.Link.Target">@Model.Link.Text</a>
            }
            else
            {
                <a class="@Model.Link.Class btn btn-primary promo" href="#" data-toggle="modal" data-target="#form-model">@Model.Link.Text</a>
                <div class="modal fade" id="form-model" tabindex="-1" aria-labelledby="formModelLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="component container">
                                <div clas="component-content">
                                    @Html.Sitecore().Rendering("{6B5B0FE6-5C85-4487-BA7E-F8C2ECC186A8}", new { DataSource = Model.FormID })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>